* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

body {
	background: white;
	color: black;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 26px;
	font-weight: bold;

	line-height: 36px;
	margin: 18px 0;
}

h2 {
	font-size: 24px;
	font-weight: bold;

	line-height: 36px;
	margin: 18px 0;
}

p, pre {
	line-height: 18px;
	margin: 18px 0;
}

ul, ol {
	margin: 18px 0;
	padding: 0 36px;
}

li {
	line-height: 18px;
}

#package-header {
	background: peachpuff;
	color: salmon;

	max-width: 800px;
	margin: 0 auto;
	padding: 9px;
}

#package-header > .caption {
	line-height: 18px;
	margin: 0;
}

#package-header > #page-menu {
	display: block;
	float: right;

	margin: 0;
	padding: 0;
}

#package-header > #page-menu > li {
	display: inline;
}

#package-header > #page-menu > li:not(:last-child):after {
	content: ' / ';
}

#package-header > #page-menu > li > a {
	color: inherit;
}

#content {
	max-width: 800px;
	margin: 18px auto;
}

#content > #module-header > .info {
	display: none;
}

#content > #module-header > .caption {
	font-size: 28px;
	font-weight: bold;

	line-height: 36px;
	margin: 18px 0;
}

#content > #table-of-contents {
	/* This does not seem very useful. May be added later. */
	display: none;
}

#content > #description > .caption {
	/* This merely says "Description". Hide it. */
	display: none;
}

#content > #synopsis {
	/* This does not seem very useful. May be added later. */
	display: none;
}

#content > #interface > a {
	color: inherit;
	text-decoration: none;
}

#content > #interface > a:hover > h1:after {
	content: ' ¶';
}

#content > #interface > .top > .src,
#content > #interface > .top > .constructors > table > tbody > tr > .src {
	background: peachpuff;
}

#content > #interface > .top > .doc,
#content > #interface > .top > .subs,
#content > #interface > .top > .constructors > table > tbody > tr > .doc {
	padding: 0 36px;
}

#content > #interface > .top > .constructors > .caption {
	display: none;
}

#content > #interface > .top > .constructors > table {
	display: block;
}

#content > #interface > .top > .constructors > table > tbody {
	display: block;
}

#content > #interface > .top > .constructors > table > tbody > tr {
	display: block;
}

#content > #interface > .top > .constructors > table > tbody > tr > td {
	display: block;

	line-height: 18px;
}

#footer {
	border-top: solid 1px silver;
	color: silver;

	text-align: center;

	max-width: 800px;
	margin: 0 auto;
}
